@media (min-width: 768px) {
  .homePage {
    display: flex;
  }
  .movieList {
    flex: 0 0 25%;
    max-width: 25%;
    border-right: 1px solid black;
  }
  .movieDetail {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (max-width: 767px) {
  .homePage {
    flex-direction: column;
  }
  .movieList {
    order: 1;
    border-bottom: 1px solid black;
  }
  .movieDetail {
    order: 2;
    width: 100%;
  }
}
